Relax NG Excercise 3/hungergames.rnc

start = hungerGames
hungerGames = element hungerGames {author, chapter, person, food, topping, place, gathering, meal, situation}
author = attribute author {"suzanneCollins"}
chapter = attribute chapter {xsd:integer}

person = element person {name, gender, text}
name = attribute name {xsd:ID}
gender = attribute gender {"m"}

food = element food {text}

topping = element topping {text}


place = element place {mixed{(def)*}}
def = element def {nook, text}
nook = attribute nook {"small corner"}

gathering = element gathering {text}

meal = element meal {text}


situation = element situation {event, mixed {(where, time)*}}
event = attribute event {"reaping"}
where = element where {text}
time = element time {text}