Relax NG Excercise 2/poem.rnc

start = ballad
ballad = element ballad {title, author, context, adress, poem}

title = element title {text}
author = element author {text}
context = element context {marks*, text}
marks = attribute marks {"stamp"}
adress = element adress {place, location, date, text}

place = element place {text}
location = element location {pl, text}
pl = attribute pl {"city,state"}
date = element date {text}

poem = element poem {type, stanza+}
type = attribute type {"A" | "B" | "C" | "B" | "ABCB" | "ABA"}
stanza = element stanza {num, type?, rhyme, line+}
num = attribute num {xsd:integer}
rhyme = attribute rhyme {text}
line = element line {type, text}
